/* CSS file for Lab 5 Part A index.html */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}

.form {
    margin: 0 auto;
    width: fit-content;
    background-color: rgb(202, 201, 201);
}

.selector {
    text-align: center;
    margin-bottom: 20px;
}